<h2>Create new post</h2>
<p>На этой странице вы сможете create new post</p>

<form action="/new" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="author" type="text" class="form-control" placeholder="Ваше имя" value="">
  </div>

  <p><textarea rows="10" cols="45" name="content"></textarea></p>

  <button type="submit" class="btn btn-primary">Post</button>

</form>
